<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ae76939-81ce-48ff-8167-5046244e9ba1" Alias="campaignHeroBanner" Level="2">
  <Info>
    <Name>Campaign Hero Banner</Name>
    <Icon>icon-presentation color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The hero banner for campaign pages, containing a variant styling.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e256e2f1-c399-454e-b474-35438f89203c</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component description - the text which appears underneath the component title.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/campaignHeroBannerConfiguration1">Campaign Hero Banner Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00f21bca-70b3-4743-8432-c31fb111b3c1</Key>
      <Name>Desktop Video URL</Name>
      <Alias>desktopVideoURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Youtube URL for Desktop videos.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/campaignHeroBannerConfiguration1">Campaign Hero Banner Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62c7fbaa-0307-4340-9329-7218b27b7828</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>a01a8472-0cf3-4647-ac83-0a335cad5df2</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/campaignHeroBannerConfiguration1">Campaign Hero Banner Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8d6b7eb-351c-4ef4-a6ef-ecd25103158e</Key>
      <Name>Mobile video URL</Name>
      <Alias>mobileVideoURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Youtube URL for Mobile videos]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/campaignHeroBannerConfiguration1">Campaign Hero Banner Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79f5ba4f-0708-48e5-9b9b-fb5a977ea956</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title at the top of the hero banner component (defaulted to h1 and will change to h2 if the Use Small Heading option is enabled)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/campaignHeroBannerConfiguration1">Campaign Hero Banner Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e7298f6a-0e5c-49e2-bba6-72a4794e5acf</Key>
      <Caption>Campaign Hero Banner Configuration</Caption>
      <Alias>content/campaignHeroBannerConfiguration1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>13d3db88-359d-477d-98a3-ff5570d73a92</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>