<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce44ec30-f1fb-4f55-b521-91cc379ec212" Alias="campaignBanner" Level="2">
  <Info>
    <Name>Campaign Banner</Name>
    <Icon>icon-browser-window color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The banner used in campaign pages containing variant styling to the original banner.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d30566aa-175b-42ad-b6c6-713269f279e4</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description for the banner variant]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3cd2c38f-bfa3-4562-8216-f56ed052acbe</Key>
      <Name>Desktop Image</Name>
      <Alias>desktopImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image used on the right hand side of the banner in desktop.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc7d7cc8-52c2-4dd7-81ce-75ef1a4667cc</Key>
      <Name>Desktop video URL</Name>
      <Alias>desktopVideoURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Youtube URL for the desktop video.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8bfe6c0-70fd-443b-87ff-7a8913015cc3</Key>
      <Name>Enable overlay</Name>
      <Alias>enableOverlay</Alias>
      <Definition>384129d1-2846-4d9d-bf42-d31ff18111b7</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enables the darker overlay on the pull quote background image.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52d85792-a34b-4581-83a0-68294de0a4e1</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>877f82ca-a2f1-4bbb-9774-de43837f72ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The CTA used in the banner.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a6554e3-1716-46a6-a6e8-a5ebe364f2d0</Key>
      <Name>Mobile Image</Name>
      <Alias>mobileImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image used on the banner in mobile.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b14574a-1398-4507-9dac-b7fbf64dd775</Key>
      <Name>Mobile video URL</Name>
      <Alias>mobileVideoURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Youtube URL for the Mobile video.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3acfe8c-cb70-43a1-b6a1-f54746ff5c49</Key>
      <Name>Small text</Name>
      <Alias>smallText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The red text situated above the title.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c4f5bbc-77cc-4b83-975b-1ab4d0fa6c7d</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the banner]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d45cd17e-71eb-4741-8405-42acc496eed2</Key>
      <Name>Variant</Name>
      <Alias>variant</Alias>
      <Definition>1b499ae0-1b27-462d-833b-60807c465a2f</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This toggle changes the banner into its variant. Having it on will place the description in full-width and the image as a background.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/contentConfiguration">Content configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e8d46358-cc82-4cda-af7f-615dc7507571</Key>
      <Caption>Content configuration</Caption>
      <Alias>content/contentConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>585041bc-8c39-4967-9468-508c8149410a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>