<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07fbe3e9-8215-46f3-8104-858cb18af228" Alias="campaignForm" Level="2">
  <Info>
    <Name>Campaign Form</Name>
    <Icon>icon-diploma-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The form container to be added into campaign pages which allows the form to invoke a modal.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>71149cdf-c0fa-4f9c-8a13-8039d3fadae3</Key>
      <Name>Campaign form snippet</Name>
      <Alias>campaignFormSnippet</Alias>
      <Definition>1c2683fa-c164-4b79-bb18-937a6f1b74b8</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The HTML snippet for the Salesforce form.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/campaignFormConfiguration">Campaign form configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8a5cdec6-8d64-45a2-9bd1-ac4cba6ba610</Key>
      <Caption>Campaign form configuration</Caption>
      <Alias>content/campaignFormConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cfdc0711-4772-4656-86f0-6c027bd29065</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>