<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="deff89e4-b99f-47be-9151-d03f3b3890e4" Alias="cardListing" Level="2">
  <Info>
    <Name>Listing</Name>
    <Icon>icon-thumbnail-list color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The card listing component. Allows user curated content to be displayed in a listing</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6e75c2e6-a083-4abb-b35f-72a39ede6a23</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing component description. The text which appears underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/listingConfiguration">Listing configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2522cf52-78f6-47f6-8520-b377732efb0b</Key>
      <Name>Listing contents</Name>
      <Alias>listingContents</Alias>
      <Definition>3daeef1c-2e1f-46d5-8df1-ed3dd82b8afa</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing content selector. This field will allows pages to be selected. Pages will be shown in the listing if they have the listing fields populated.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/listingConfiguration">Listing configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6007513-e01d-4c75-8ee0-166e7c7fd416</Key>
      <Name>No of cards</Name>
      <Alias>noOfCards</Alias>
      <Definition>fce2176b-e38e-4588-9a48-2cc11154abc3</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of cards to show. Default to 0 to show all.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/listingConfiguration">Listing configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>345d63c5-19ae-4539-8054-55b0fcef2d44</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Listing component title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/listingConfiguration">Listing configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5a577e4-0615-41be-b097-35428cf661a3</Key>
      <Caption>Listing configuration</Caption>
      <Alias>content/listingConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>418e46f9-9b26-46a8-bbd9-2dd0978d021a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>