<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f41bd1d9-049f-4543-85d1-ec359785f6ae" Alias="components" Level="2">
  <Info>
    <Name>Components</Name>
    <Icon>icon-ordered-list color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Components folder containing the components used for each page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="48b92b70-ae22-4f45-ad8a-67068849136f" SortOrder="0">accordion</ContentType>
    <ContentType Key="3a6b4273-dcc5-4b21-a84f-b5fc28c15ea2" SortOrder="1">animatedBanner</ContentType>
    <ContentType Key="65c84796-1477-4ff6-8773-bcff71c9db1c" SortOrder="2">basicContent</ContentType>
    <ContentType Key="9ae76939-81ce-48ff-8167-5046244e9ba1" SortOrder="3">campaignHeroBanner</ContentType>
    <ContentType Key="16446599-aee0-403b-a462-bb03fda591df" SortOrder="4">cardList</ContentType>
    <ContentType Key="f30c2199-392e-467b-a3df-07c4bfd88feb" SortOrder="5">dealerMap</ContentType>
    <ContentType Key="4aefea2e-068a-427e-bf4c-462c0eb84ef8" SortOrder="6">featureCarousel</ContentType>
    <ContentType Key="b68a81c5-6b79-44de-8e88-bf8308c55085" SortOrder="7">findADealer</ContentType>
    <ContentType Key="094fa803-a733-4c91-8ebc-2a806c43d36c" SortOrder="8">heroBanner</ContentType>
    <ContentType Key="fadd9063-249a-40ec-990f-d65638d84938" SortOrder="9">iframe</ContentType>
    <ContentType Key="36cd7705-161c-47c5-aa2b-3caccac8c8dd" SortOrder="10">imageGallery</ContentType>
    <ContentType Key="a0e68557-9d44-4424-adbf-d23b77c49d7b" SortOrder="11">inlineBanner</ContentType>
    <ContentType Key="deff89e4-b99f-47be-9151-d03f3b3890e4" SortOrder="12">cardListing</ContentType>
    <ContentType Key="a16b6ca2-ab39-4b63-b640-430c06681e8b" SortOrder="13">onThisPage</ContentType>
    <ContentType Key="1a6f64d3-9241-4b38-83c2-54a2b1074ff6" SortOrder="14">productFilters</ContentType>
    <ContentType Key="1877a789-82ad-4508-9c49-10b4a518e037" SortOrder="15">resourceHub</ContentType>
    <ContentType Key="d2c458fa-7f58-4166-b8de-2860dc3e814d" SortOrder="16">searchResult</ContentType>
    <ContentType Key="0e6b978f-0953-4aa9-988f-02044f8235d4" SortOrder="17">smallCarousel</ContentType>
    <ContentType Key="1ac8bec8-a173-4f42-b703-679fd9b5ea10" SortOrder="18">tabbedContent</ContentType>
    <ContentType Key="bdaeb37c-70e4-483d-9534-f81c4d763595" SortOrder="19">testimonialCarousel</ContentType>
    <ContentType Key="80cc3428-6161-4005-b238-9c2c59e7c51c" SortOrder="20">video</ContentType>
    <ContentType Key="23c5a2ba-0345-48da-b1eb-4796b292384e" SortOrder="21">zigZag</ContentType>
    <ContentType Key="d2add578-7266-4427-90f8-c059493cf47d" SortOrder="22">lookingFor</ContentType>
    <ContentType Key="ce44ec30-f1fb-4f55-b521-91cc379ec212" SortOrder="23">campaignBanner</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>