<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1" Alias="componentBase" Level="2">
  <Info>
    <Name>_component base</Name>
    <Icon>icon-brick color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8a11eb24-e21d-47b1-876b-4c59a110124c</Key>
      <Name>Aspect ratio</Name>
      <Alias>aspectRatio</Alias>
      <Definition>31fea7b2-17e5-4398-aab2-f4e379eb11f4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only applies to background background images and videos (not Inline video). If no option is selected, the content is full width.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1cb1cd0-3d0c-4cec-9f0b-c6c19360a711</Key>
      <Name>Background colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>6fee60b0-2aab-4263-ba56-44f29a305e36</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component panel background colour (if nothing is selected, the default is Light)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e01f32ea-9629-4375-b51d-7a19b3048326</Key>
      <Name>Desktop Background video</Name>
      <Alias>backgroundVideo</Alias>
      <Definition>76a00328-8cc1-4165-9140-5227f5a31e93</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The component's background video for desktop view]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ca62f33-fc66-47ef-97b5-4d814f923921</Key>
      <Name>Content alignment</Name>
      <Alias>contentAlignment</Alias>
      <Definition>f325caf6-4b39-462f-8114-c3666d57b248</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Align content to left or center. Default is left. This format configuration is overwritten by the wysiwyg (rich text) field in the component's content.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8a05ecb-cdfe-4514-9383-c61eedbf6262</Key>
      <Name>Desktop background image</Name>
      <Alias>desktopBackgroundImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Recommend using .webp format.
The recommended ratio to resolutions are as follows:
4:3 - 1080px height
16:9 - 810px height
21:9 - 617px height]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a8b93ad-792e-46aa-b281-7fb44f05b447</Key>
      <Name>Enable On This Page</Name>
      <Alias>enableOnThisPage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable for "On this page" widget]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55911331-6333-4509-a651-4ab40bba8f15</Key>
      <Name>Font colour</Name>
      <Alias>fontColour</Alias>
      <Definition>6668c35d-d040-4086-bef2-b2b61c451466</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component font colour (if nothing is selected, the default is Dark)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f68ffc7-1cb6-4c27-b149-2e8e04a4fa15</Key>
      <Name>Mobile background image</Name>
      <Alias>mobileBackgroundImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Recommend using .webp format.
The recommended ratio to resolutions are as follows:
4:3 - 743px height
16:9 - 557px height
21:9 - 425px height]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83f5622c-890d-464d-9eb6-6928da77f600</Key>
      <Name>Mobile background video</Name>
      <Alias>mobileBackgroundVideo</Alias>
      <Definition>76a00328-8cc1-4165-9140-5227f5a31e93</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The component's background video for mobile devices]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a47d5e96-d5a0-4b08-aaf6-01310599097c</Key>
      <Name>On this page anchor</Name>
      <Alias>onThisPageAnchor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>539a04e4-a3a1-4ad1-a6cb-b0b32ea6ab3b</Key>
      <Name>On this page label</Name>
      <Alias>onThisPageLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label used for the "On This Page" component]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c443000f-924d-4203-81aa-6d4ad3a82c53</Key>
      <Name>Use small heading</Name>
      <Alias>useSmallHeading</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If enabled, the heading for the component will use the h2 tag instead of h1]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ca001a3e-b061-4e4a-87aa-be953f24d711</Key>
      <Caption>Component configuration</Caption>
      <Alias>componentConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7ad2aaaa-4581-41c2-8b44-138b02b61e68</Key>
      <Caption>Configuration options</Caption>
      <Alias>componentConfiguration/configurationOptions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>