<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11b7469b-74b6-46fd-8f81-8a0a11acd644" Alias="dataFolder" Level="2">
  <Info>
    <Name>Data folder</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6ca2a2b5-ed96-4d97-849d-a1e07b2f8627" SortOrder="0">contentTypesFolder</ContentType>
    <ContentType Key="37b39aef-5c4e-44ef-b60b-aa45addd3a3b" SortOrder="1">productCategoryFolder</ContentType>
    <ContentType Key="7433106a-918a-4560-b919-8a21815706ec" SortOrder="2">productFiltersFolder</ContentType>
    <ContentType Key="5071296c-9303-4388-813e-3e31f427f56f" SortOrder="3">topicsFolder</ContentType>
    <ContentType Key="e9ea1355-5ea7-4d58-92ae-f7343f6eb5c0" SortOrder="4">imageLinkFolder</ContentType>
    <ContentType Key="2e33ae27-6e84-4b72-b2cb-5897fb5ee2a9" SortOrder="5">navigationSectionsFolder</ContentType>
    <ContentType Key="bab0b975-d361-43e0-bb32-04eefd243d03" SortOrder="6">dealersFolder</ContentType>
    <ContentType Key="ad8ab6af-4463-4338-a064-f07e58b1fa40" SortOrder="7">mobileShowroomsFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>