<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f30c2199-392e-467b-a3df-07c4bfd88feb" Alias="dealerMap" Level="2">
  <Info>
    <Name>Dealer Map</Name>
    <Icon>icon-map-location color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Find a dealer component</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0585de25-76d4-46e4-aad6-9130a8e9d5b0</Key>
      <Name>Dealer</Name>
      <Alias>dealer</Alias>
      <Definition>235314d7-e376-4531-bc3f-f601bd0d2d5b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The dealer information selected from the dealers folder]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>14b2c072-b1d3-4c49-bd2a-d1b6ad896a97</Key>
      <Caption>Find a dealer configuration</Caption>
      <Alias>content/findADealerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>edd14906-722c-4ab3-8235-ca668644e418</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>