<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd76218c-dd8b-401e-a93c-a675be77d8ca" Alias="dealer" Level="2">
  <Info>
    <Name>Dealer</Name>
    <Icon>icon-circus color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Dealers document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>db9f25f8-c5f3-4b48-bc79-b313e15070d7</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The address of the dealer]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6f447ef-3900-48bb-8757-fbc3d06b92c7</Key>
      <Name>Commercial</Name>
      <Alias>commercial</Alias>
      <Definition>0867d4ae-a83f-4260-a821-486fb002beba</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad81e685-01d0-45eb-8251-fc2c044f09d3</Key>
      <Name>Name</Name>
      <Alias>dealerName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the dealer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a788253-af46-48d1-9b98-22e3c9caad0d</Key>
      <Name>Dealer page</Name>
      <Alias>dealerPage</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The link to the dealer page]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>866c5313-200d-4db7-acb3-29621ff27118</Key>
      <Name>Distance Calculate From Lat &amp; Lng</Name>
      <Alias>distanceCalculateFromLatLng</Alias>
      <Definition>c904ae0a-a97b-4ee0-9425-ccdf3f4431d1</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3147c1f6-90a1-446b-a8b3-95e7a0e72fea</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The email of the dealer]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12ab00ec-f404-48f4-abe2-8233fac83e3c</Key>
      <Name>Free  Measure &amp; Quote</Name>
      <Alias>freeMeasureQuote</Alias>
      <Definition>4be5aa93-b348-4f94-b3b9-2270090ee2ff</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>785af726-cd97-408f-9702-5bfc4c868b26</Key>
      <Name>Latitude</Name>
      <Alias>latitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dealer latitude location]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0523d160-c235-46da-82b3-26c3cbdb6637</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dealer logo - maximum width of 88px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0eeec702-eb92-4f33-b507-8cabfe32d70f</Key>
      <Name>Longitude</Name>
      <Alias>longitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dealer longitude location]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5792018e-4314-4d81-b90c-f40c8b834148</Key>
      <Name>Mobile Hub Showroom</Name>
      <Alias>mobileHubShowroom</Alias>
      <Definition>a3df8ba7-0afb-4e58-aa37-07db6518dfd7</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Is a mobile hub showroom.
Checking this toggle will stop the pin from appearing on the map and list for the Find a Dealer component.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fed8b116-d807-4b1d-8ecc-ed122ab7c434</Key>
      <Name>Opening hours</Name>
      <Alias>openingHours</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Opening hours]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>daf5787f-c8d4-4bba-b46c-9a32e51984b4</Key>
      <Name>Phone</Name>
      <Alias>phone</Alias>
      <Definition>cdfdac1d-da70-4f6d-8e62-7fadc78473d6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[\+\d ()]*$</Validation>
      <Description><![CDATA[The phone number of the dealer]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Please enter a valid phone number</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1906cc82-9129-42cd-b5c8-478bd7439a3a</Key>
      <Name>Service or Repair</Name>
      <Alias>serviceOrRepair</Alias>
      <Definition>2c030b7e-7689-4b4f-83c9-de7a66051d04</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4aa83d8b-44cb-433e-bf08-5233da9f05e4</Key>
      <Name>State</Name>
      <Alias>state</Alias>
      <Definition>f6dafcb7-af0d-4b64-afe1-2a855078a4b4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the Dealer State (Only required if Calculate Distance from Lat & Lng is ticked)]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f831364-8961-4307-a547-61af980c174e</Key>
      <Name>Website url</Name>
      <Alias>websiteUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dealer website]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="dealerConfiguration">Dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>815b8cfc-fb2e-463b-a8b9-987a2fdad562</Key>
      <Caption>Dealer configuration</Caption>
      <Alias>dealerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>