<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2cf9233a-30b6-4ff9-935b-fb24bf8ea3e3" Alias="dealersFilterFolder" Level="2">
  <Info>
    <Name>Dealers Filter Folder</Name>
    <Icon>icon-filter-arrows color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7c4d6b9d-020e-4684-bcb2-4cbdcf28b8cb" SortOrder="0">dealerFilter</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>