<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e0d1dd1-b187-4272-a2fd-f6d5677327e8" Alias="doorVisualiser" Level="2">
  <Info>
    <Name>_door visualiser</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4c013ac-a882-417f-90be-c8a980adefef</Key>
      <Name>Is Door Visualiser</Name>
      <Alias>isDoorVisualiser</Alias>
      <Definition>307772a1-8d39-406d-9d5a-4df867227f41</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must be toggled to true to display either either of the door visualiser page types]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiser">Door Visualiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b3a65159-4604-47d3-a454-6a48081614a1</Key>
      <Caption>Door Visualiser configuration</Caption>
      <Alias>doorVisualiserConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ab756c88-c881-43fa-a8cc-47b7b3fa50ba</Key>
      <Caption>Door Visualiser</Caption>
      <Alias>doorVisualiserConfiguration/doorVisualiser</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>