<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1eb868e1-64c1-4851-9613-0c9daccbe2a8" Alias="doorVisualiserLandingPage" Level="2">
  <Info>
    <Name>Door Visualiser Landing Page</Name>
    <Icon>icon-door-open color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="3e0d1dd1-b187-4272-a2fd-f6d5677327e8">doorVisualiser</Composition>
      <Composition Key="be75229e-c643-443a-a7a8-6db83bfa554c">listing</Composition>
      <Composition Key="99a56929-1340-4fd4-b2dc-06fe84681449">pageBase</Composition>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="c4bad625-afa7-4eec-a0d0-d0f55caaf2c9">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="46b5d6e9-52da-4500-89ac-35495e8281d1" SortOrder="0">doorVisualiserPanelsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>07f79957-dbc9-45ae-b3b2-11a32906ba87</Key>
      <Name>Background Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image that will be split on either side of the main content area.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4a00beb-d1c1-4ea2-a6a7-dbec1fb4f7cd</Key>
      <Name>Logo Image</Name>
      <Alias>logoImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Centered image that normally displays the bnd logo]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>860e2241-897c-4669-9d94-b93020ace5eb</Key>
      <Name>Visualiser Cta</Name>
      <Alias>visualiserCta</Alias>
      <Definition>877f82ca-a2f1-4bbb-9774-de43837f72ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cta link to subsequent visualiser pages.  It should link to a house type page.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e84dc5de-d853-40bb-88cc-fba004d96793</Key>
      <Name>Visualiser Disclaimer</Name>
      <Alias>visualiserDisclaimer</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disclaimer at the bottom of the center content section.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53bf5ffc-2cbc-4573-bdad-b308902d4683</Key>
      <Name>Visualiser Sub Title</Name>
      <Alias>visualiserSubTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content subtitle, displayed as h2]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0ecf183-4ddb-4f19-b748-8b9355c8b744</Key>
      <Name>Visualiser Title</Name>
      <Alias>visualiserTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content title, displayed as h1. Configured to use highlighted period if text ends with full stop.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserDetails">Door Visualiser Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>adebc1de-3ae4-41c4-9a44-ebdc744376b1</Key>
      <Caption>Door Visualiser Details</Caption>
      <Alias>doorVisualiserConfiguration/doorVisualiserDetails</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>