<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85e6a6f9-9cf9-4ff4-a9f3-2d34036826b7" Alias="doorVisualiserPanel" Level="2">
  <Info>
    <Name>Door Visualiser Panel</Name>
    <Icon>icon-door-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>nested+content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1ac9e45-b608-43f6-81ee-205a78673765</Key>
      <Name>CTA</Name>
      <Alias>cTA</Alias>
      <Definition>877f82ca-a2f1-4bbb-9774-de43837f72ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link to the next page down the visualiser page tree]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="doorVisualiser">Door Visualiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b02b01f7-32dd-4706-924b-d096e58ba82e</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image to display in the panel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="doorVisualiser">Door Visualiser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6472be5e-5cd8-4c10-abfe-4149d50061c1</Key>
      <Caption>Door Visualiser</Caption>
      <Alias>doorVisualiser</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>