<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46b5d6e9-52da-4500-89ac-35495e8281d1" Alias="doorVisualiserPanelsPage" Level="2">
  <Info>
    <Name>Door Visualiser Panels Page</Name>
    <Icon>icon-umb-contour color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="3e0d1dd1-b187-4272-a2fd-f6d5677327e8">doorVisualiser</Composition>
      <Composition Key="be75229e-c643-443a-a7a8-6db83bfa554c">listing</Composition>
      <Composition Key="99a56929-1340-4fd4-b2dc-06fe84681449">pageBase</Composition>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="c4bad625-afa7-4eec-a0d0-d0f55caaf2c9">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="46b5d6e9-52da-4500-89ac-35495e8281d1" SortOrder="0">doorVisualiserPanelsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a9e0586e-06ac-45d0-a7e6-c0af962276ba</Key>
      <Name>Visualiser Iframe</Name>
      <Alias>visualiserIframe</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Iframe code for displaying the Door Visualiser.  Page will display contents of this field if it is not empty.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserPanelsPage">Door Visualiser Panels Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>328f38b6-7173-4076-96f9-f66d11a7620d</Key>
      <Name>Visualiser Panels</Name>
      <Alias>visualiserPanels</Alias>
      <Definition>13dd4ede-b637-468e-adf4-eaff02a3600b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of panels that allows the various panel pages to be created.  Designed for displaying either two or four panels.  Four panels will have reduced size compared to two panels.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserPanelsPage">Door Visualiser Panels Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68d0f130-3bf2-42a1-b050-d8ed32b7b898</Key>
      <Name>Visualiser Panels Page Heading</Name>
      <Alias>visualiserPanelsPageHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Centered heading on page, displays as h1]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="doorVisualiserConfiguration/doorVisualiserPanelsPage">Door Visualiser Panels Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a5c92cb1-9989-43db-b93b-fa250ff3633c</Key>
      <Caption>Door Visualiser Panels Page</Caption>
      <Alias>doorVisualiserConfiguration/doorVisualiserPanelsPage</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>