<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61fab15f-fa70-4f1f-9358-e48c4f6915ba" Alias="error404" Level="2">
  <Info>
    <Name>Error 404</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="99a56929-1340-4fd4-b2dc-06fe84681449">pageBase</Composition>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="c4bad625-afa7-4eec-a0d0-d0f55caaf2c9">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f41bd1d9-049f-4543-85d1-ec359785f6ae" SortOrder="0">components</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>