<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4aefea2e-068a-427e-bf4c-462c0eb84ef8" Alias="featureCarousel" Level="2">
  <Info>
    <Name>Feature Carousel</Name>
    <Icon>icon-pictures-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The feature carousel which contains either curated data or product page details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b4f5d886-0c20-442e-a4cc-ee41d769d93f</Key>
      <Name>Branding Enable</Name>
      <Alias>brandingEnable</Alias>
      <Definition>a1b3b3e4-00e7-45f6-be18-c869e5259c2a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/featureCarouselConfiguration">Feature carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe2b6251-f6ba-4c30-bb70-56e3f34f3a07</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/featureCarouselConfiguration">Feature carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc26340b-29ee-4212-a870-768d1250d626</Key>
      <Name>Panels</Name>
      <Alias>panels</Alias>
      <Definition>b1c9b611-f91b-476a-b9db-667834fc09ff</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The curated content. If a product landing page is selected, this field will not be used.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/featureCarouselConfiguration">Feature carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>580ec4f2-4d09-4dad-a63e-f320afac5888</Key>
      <Name>Product landing page</Name>
      <Alias>productLandingPage</Alias>
      <Definition>44028e09-b012-45c2-bd43-566eb6b3f4a7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The landing page used to dynamically build the carousel panels. If this is selected, the nested content (panels) will not render]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/featureCarouselConfiguration">Feature carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ddae2f4-4fd2-415d-ba08-ebd036c862b0</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/featureCarouselConfiguration">Feature carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6ea386b6-dab1-49c8-ab0d-2bd65ea06794</Key>
      <Caption>Feature carousel configuration</Caption>
      <Alias>content/featureCarouselConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b1040cf0-3b26-46d5-b5ea-3036695cd127</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>