<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b68a81c5-6b79-44de-8e88-bf8308c55085" Alias="findADealer" Level="2">
  <Info>
    <Name>Find a Dealer</Name>
    <Icon>icon-map-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Find a dealer component</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5937be0-c8c7-42e0-97ce-42e4603ee351</Key>
      <Name>Book now link</Name>
      <Alias>bookNowLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The book now link applied to all links associated with the second section of the info box.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e8ff0f5-553c-4e8c-b99f-b8b46451daee</Key>
      <Name>Dealer Filters</Name>
      <Alias>dealerFilters</Alias>
      <Definition>fe566fac-6dac-4865-be23-3b9ceb45798f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95e93a3f-6964-402b-b86a-7c51d44c7bdf</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b08622d2-33e5-47ae-9547-72a4458af1d1</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>877f82ca-a2f1-4bbb-9774-de43837f72ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Configurable CTA for the mobile showroom]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09874f67-055e-4248-bf4d-62d980228093</Key>
      <Name>Mobile Showroom Popup</Name>
      <Alias>mobileShowroomPopup</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The generic message to be shown when there is a mobile showroom available near the selected address]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>420fe888-0098-49fa-9828-d20b53a2a8f7</Key>
      <Name>Mobile Showroom Popup Title</Name>
      <Alias>mobileShowroomPopupTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Showroom popup title]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e998b35-2d34-46c3-996f-811dd15bf4d7</Key>
      <Name>Result text</Name>
      <Alias>resultText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text which appears at the top of the map after the user has performed a search. Please use the token {x} which will be replace by the number of dealers found (e.g. Found {x} dealers new you)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fff73b7-5c7d-4824-849a-ed7c5212153f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title text of the component]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/findADealerConfiguration">Find a dealer configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f788d768-fbf9-4086-adf2-85d1bd9e146e</Key>
      <Caption>Find a dealer configuration</Caption>
      <Alias>content/findADealerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9bc5c35a-62ff-4b6e-a072-beb983721190</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>