<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="094fa803-a733-4c91-8ebc-2a806c43d36c" Alias="heroBanner" Level="2">
  <Info>
    <Name>Hero Banner</Name>
    <Icon>icon-badge color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The hero banner component</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b5f68c9e-0b2e-446a-9fe9-db17a43bcefe</Key>
      <Name>Branding Enable</Name>
      <Alias>brandingEnable</Alias>
      <Definition>d2322d00-97e4-4c8f-88bc-fd65f40392ab</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3989a63-006c-458a-961a-e0faa6c7366d</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component description - the text which appears underneath the component title.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f69a63f8-dc43-4b90-a452-b920bbe9934a</Key>
      <Name>Desktop image</Name>
      <Alias>desktopImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image that is used for desktop devices
Recommend using .webp format.
The recommended resolutions for its width is 665px]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4ca5715-b6df-4a3e-b6e8-7f91ce3ca105</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>a0513444-7454-4e8b-bf8c-6b96dbbd747f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Single or multiple links used in the Hero Banner CTA]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93ef3d9f-ef31-4b98-a8f6-ef221cc19b5a</Key>
      <Name>Mobile image</Name>
      <Alias>mobileImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image that is used for mobile devices
The recommended resolutions for its width is 951px]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8602e80d-b144-49f0-a7b4-4a5d0db75dca</Key>
      <Name>Subtitle</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45ac4e2b-5fe7-48fc-b4a9-44ddccbe033d</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title at the top of the hero banner component (defaulted to h1 and will change to h2 if the Use Small Heading option is enabled)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/heroBannerConfiguration">Hero banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e0e6b3af-dc58-471a-b7e4-a91ebecfee14</Key>
      <Caption>Hero banner configuration</Caption>
      <Alias>content/heroBannerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c2c7a140-98d8-49c8-bedc-e5f4a59c43ba</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>