<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86ea28d3-d170-4b21-a562-a77e97e142a1" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="be75229e-c643-443a-a7a8-6db83bfa554c">listing</Composition>
      <Composition Key="99a56929-1340-4fd4-b2dc-06fe84681449">pageBase</Composition>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="c4bad625-afa7-4eec-a0d0-d0f55caaf2c9">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7e1775b5-5045-4b08-8c98-c45ae6cbad7b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f41bd1d9-049f-4543-85d1-ec359785f6ae" SortOrder="0">components</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>