<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9ea1355-5ea7-4d58-92ae-f7343f6eb5c0" Alias="imageLinkFolder" Level="2">
  <Info>
    <Name>Image Link Folder</Name>
    <Icon>icon-folder color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8ef4fd05-c2ef-4838-ae78-f340db3da0f2" SortOrder="0">imageLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>