<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36cd7705-161c-47c5-aa2b-3caccac8c8dd" Alias="imageGallery" Level="2">
  <Info>
    <Name>Image Gallery</Name>
    <Icon>icon-pictures-alt-2 color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Image gallery component which has the lightbox component attached</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cbbcefa5-d41f-40c9-8c12-fff503ae5e9b</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/imageGalleryConfiguration">Image gallery configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d85c230-94e7-4d5d-a3ea-78a834bd7826</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Gallery images. Recommended image width is 926px on both desktop and mobile. The ratio will be automatically calculated.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/imageGalleryConfiguration">Image gallery configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1be94ef1-d0f9-4ce9-a9b8-3c7455e9d9e2</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/imageGalleryConfiguration">Image gallery configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8a37b20e-1687-4f0f-a3d9-c390775b2757</Key>
      <Caption>Image gallery configuration</Caption>
      <Alias>content/imageGalleryConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>347a2576-5d02-4fe1-adbb-572ee15280d2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>