<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0e68557-9d44-4424-adbf-d23b77c49d7b" Alias="inlineBanner" Level="2">
  <Info>
    <Name>Inline Banner</Name>
    <Icon>icon-flag color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The inline banner component</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60abd3b3-c377-4162-bcf8-1397a9b2a65e</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description text which appears underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/inlineBannerConfiguration">Inline banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f77dc57-6943-4a42-a858-e74c9b7e8338</Key>
      <Name>Link alignment</Name>
      <Alias>linkAlignment</Alias>
      <Definition>f325caf6-4b39-462f-8114-c3666d57b248</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alignment for the links]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/inlineBannerConfiguration">Inline banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a623218-4686-4e71-89ce-c750f2167a35</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>a0513444-7454-4e8b-bf8c-6b96dbbd747f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The links that appear as buttons under the description text]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/inlineBannerConfiguration">Inline banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ce123e3-6071-4f00-a37c-fe307c091939</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the inline banner component]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/inlineBannerConfiguration">Inline banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73a939e9-8437-4cce-bff7-f6850bbd1fda</Key>
      <Caption>Inline banner configuration</Caption>
      <Alias>content/inlineBannerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2064146c-165b-4621-8f8e-72dd8324d6e9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>