<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad8ab6af-4463-4338-a064-f07e58b1fa40" Alias="mobileShowroomsFolder" Level="2">
  <Info>
    <Name>Mobile Showrooms Folder</Name>
    <Icon>icon-folder color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>folder containing mobile showrooms</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a14b8e39-7f90-413f-bea9-58e4dec28da4" SortOrder="0">mobileShowroomItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>