<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a14b8e39-7f90-413f-bea9-58e4dec28da4" Alias="mobileShowroomItem" Level="2">
  <Info>
    <Name>Mobile showroom</Name>
    <Icon>icon-truck color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The mobile showroom item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fce5861f-ba9c-4c54-bca4-0f588fe61070</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>6cac3f0b-1cb6-4f40-9419-cc469def40f5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>439855de-8c60-4b47-b0a8-2fb464c2b208</Key>
      <Name>Commercial</Name>
      <Alias>commercial</Alias>
      <Definition>186f89a7-82a6-467a-b678-e331a45f56e3</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ac02bdd-72ba-412c-8a59-080d538c9c4f</Key>
      <Name>Name</Name>
      <Alias>dealerName</Alias>
      <Definition>9e095eb0-2f50-48b1-bf22-f5e735d89ca1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45f490ae-7dfb-4411-a918-c1e44349504a</Key>
      <Name>Dealer page</Name>
      <Alias>dealerPage</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The internal page about mobile services]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d63733c-9778-400a-8e8c-81c02ce6de70</Key>
      <Name>Free  Measure &amp; Quote</Name>
      <Alias>freeMeasureQuote</Alias>
      <Definition>661c5785-f494-40de-9880-2383c8818ca3</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9dc5a32-db1f-4125-8760-b78ce5986617</Key>
      <Name>Phone</Name>
      <Alias>phone</Alias>
      <Definition>cdfdac1d-da70-4f6d-8e62-7fadc78473d6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[\+\d ()]*$</Validation>
      <Description><![CDATA[Phone number to contact for information about mobile showrooms]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Please enter a valid phone number</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b207b5a1-1407-4674-8fd4-ad8b52e0aff2</Key>
      <Name>Postcodes</Name>
      <Alias>postcodeList</Alias>
      <Definition>15662a70-a7ab-4cbd-a730-7c90bf3f858e</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]+(\|[0-9]+)*$</Validation>
      <Description><![CDATA[The collection of postcodes that the mobile showroom covers. Please use the pipe character "|" to separate the postcodes.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Enter postcodes with pipe "|" separator</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca09b8c0-9112-4cfe-9f42-6b5e5bb1054f</Key>
      <Name>Service or Repair</Name>
      <Alias>serviceOrRepair</Alias>
      <Definition>3375648b-75ee-4d8e-a694-41093f625ec6</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d3d371c-ccbc-40e0-88b3-ac8f43552cfd</Key>
      <Name>Website Url</Name>
      <Alias>websiteUrl</Alias>
      <Definition>422414a2-6733-4241-bf96-98e3b43c49f6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cbf13dc9-99ce-49a0-a3a1-85de96851af8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>