<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e33ae27-6e84-4b72-b2cb-5897fb5ee2a9" Alias="navigationSectionsFolder" Level="2">
  <Info>
    <Name>Navigation Sections Folder</Name>
    <Icon>icon-folder color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6c12ca52-a6c4-4027-8225-9c29cfe13a0d" SortOrder="0">navigationSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>