<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a16b6ca2-ab39-4b63-b640-430c06681e8b" Alias="onThisPage" Level="2">
  <Info>
    <Name>On This Page</Name>
    <Icon>icon-indent color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Adds a mini navigation that allows the user to scroll to the components on the page. Note that the contents of this component is dynamically generated based on each component's configuration on the page it is in.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2b0e1d16-5698-4eb9-b129-15afe3ceb101</Key>
      <Name>Aspect ratio</Name>
      <Alias>aspectRatio</Alias>
      <Definition>31fea7b2-17e5-4398-aab2-f4e379eb11f4</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only applies to background background images and videos (not Inline video). If no option is selected, the content is full width.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c295534d-4809-4a78-ab88-6e36cf3b3000</Key>
      <Name>Background colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>6fee60b0-2aab-4263-ba56-44f29a305e36</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component panel background colour (if nothing is selected, the default is Light)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b457f578-47fc-4ad4-9b41-d0f94605f627</Key>
      <Name>Desktop background video</Name>
      <Alias>backgroundVideo</Alias>
      <Definition>76a00328-8cc1-4165-9140-5227f5a31e93</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The component's background video for desktop view]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f29496c-8ddc-4ecc-845a-cb849cab5d4b</Key>
      <Name>Content alignment</Name>
      <Alias>contentAlignment</Alias>
      <Definition>f325caf6-4b39-462f-8114-c3666d57b248</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Align content to left or center. Default is left. This format configuration is overwritten by the wysiwyg (rich text) field in the component's content.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c1e9250-aefe-4de8-af81-74b5cfe82ee0</Key>
      <Name>Desktop background image</Name>
      <Alias>desktopBackgroundImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Desktop component background image which includes file types such as .jpg, .png and .gif]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a227af21-e7b7-43a1-8d35-a92e1ee9b2ea</Key>
      <Name>Font colour</Name>
      <Alias>fontColour</Alias>
      <Definition>6668c35d-d040-4086-bef2-b2b61c451466</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Component font colour (if nothing is selected, the default is Dark)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5123ad5e-c990-4eb4-9c4e-d97271dc1c77</Key>
      <Name>Mobile background image</Name>
      <Alias>mobileBackgroundImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Mobile component background image which includes file types such as .jpg, .png and .gif]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38140a31-4a3c-41ed-ad6f-da8a3e9b55f9</Key>
      <Name>Mobile background video</Name>
      <Alias>mobileBackgroundVideo</Alias>
      <Definition>76a00328-8cc1-4165-9140-5227f5a31e93</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The component's background video for mobile devices]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1373a8e-362b-4b27-ac3e-70b5fa07bdce</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the component]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1/onThisPageConfiguration">On this page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae52523c-c014-48a2-a94d-dc05a17a2e02</Key>
      <Name>Use small heading</Name>
      <Alias>useSmallHeading</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If enabled, the heading for the component will use the h2 tag instead of h1]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="componentConfiguration/configurationOptions">Configuration options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3834873f-a57b-4966-9638-19d44e1755b9</Key>
      <Caption>Component configuration</Caption>
      <Alias>componentConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>88123990-2984-40b3-a75b-5dc29a0c18de</Key>
      <Caption>Configuration options</Caption>
      <Alias>componentConfiguration/configurationOptions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3c790f43-67f5-4c8c-87d8-959bab3fe65b</Key>
      <Caption>On this page configuration</Caption>
      <Alias>content1/onThisPageConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5b277baa-5123-43f0-a63b-cbe4c9e5eec7</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>