<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d316247f-8d6a-4f3e-8ca2-b490ea9e95a3" Alias="page" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-page-add color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="be75229e-c643-443a-a7a8-6db83bfa554c">listing</Composition>
      <Composition Key="99a56929-1340-4fd4-b2dc-06fe84681449">pageBase</Composition>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="c4bad625-afa7-4eec-a0d0-d0f55caaf2c9">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
      <Template Key="edd255f9-fbe7-4e8f-89d1-bbf35d744af0">ReviewsWidget</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f41bd1d9-049f-4543-85d1-ec359785f6ae" SortOrder="0">components</ContentType>
    <ContentType Key="d316247f-8d6a-4f3e-8ca2-b490ea9e95a3" SortOrder="1">page</ContentType>
    <ContentType Key="1eb868e1-64c1-4851-9613-0c9daccbe2a8" SortOrder="2">doorVisualiserLandingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>59cca55a-a048-48c2-9ea4-aa1ab6f8b2c2</Key>
      <Name>Campaign form title</Name>
      <Alias>campaignFormTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the form for the modal]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="campaign/campaignPageConfiguration">Campaign page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3532588-822a-4bab-b26f-ff50f7eeca39</Key>
      <Name>Campaign form content</Name>
      <Alias>cTADesktopContent</Alias>
      <Definition>1c2683fa-c164-4b79-bb18-937a6f1b74b8</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The wysiwyg content used to insert form snippets for salesforce]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="campaign/campaignPageConfiguration">Campaign page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0871a112-1694-42bd-92c4-2c4a513d14ba</Key>
      <Name>Disable Eyebrow banner</Name>
      <Alias>disableEyebrowBanner</Alias>
      <Definition>f1d27a89-335a-4179-8735-1617cdfa2363</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disables the global eyebrow banner from the campaign page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="campaign/campaignPageConfiguration">Campaign page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e8af0db-0303-41af-8c74-ffdb331e3f6e</Key>
      <Name>Disable Utility and Megamenu</Name>
      <Alias>disableUtilityAndMegamenu</Alias>
      <Definition>ff9adf69-e81b-4808-9b6d-e8a41b075551</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disables the primary navigation and utility navigation, replacing the navigation with the campaign page variant.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campaign/campaignPageConfiguration">Campaign page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7364d6b3-d7f7-4f98-a8f9-a8b72062e007</Key>
      <Name>Enable override</Name>
      <Alias>enableOverride</Alias>
      <Definition>ffa5e23e-dd08-4e7d-9ddb-93eeb73497f7</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enables the override features for the sticky mobile navigation items.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campaign/mobileStickyNavigationOverride">Mobile Sticky Navigation Override</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6384edb3-04e5-4e48-be5d-dd5ee69af67f</Key>
      <Name>Mobile Sticky Navigation Items Override</Name>
      <Alias>mobileStickyNavigationItemsOverride</Alias>
      <Definition>277f83b9-bb62-4762-bbe5-b5ffc0e005c5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Replaces the global navigation items for sticky mobile for campaign pages.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="campaign/mobileStickyNavigationOverride">Mobile Sticky Navigation Override</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2210f80-86b7-4c62-b42e-b6a612db45ca</Key>
      <Name>Modal ID</Name>
      <Alias>modalID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The ID used for CTAs to target opening the modal - the value for this field will be converted to #anchorId for CTAs where the anchor ID is configurable.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="campaign/campaignPageConfiguration">Campaign page configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f47fbc1a-8e78-4d54-beb1-10687dd80276</Key>
      <Name>Utility Navigation Items Override</Name>
      <Alias>utilityNavigationItemsOverride</Alias>
      <Definition>d73a1795-20f2-430a-86cf-68f40f52054a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For campaign pages, configure the CTA for the navigation here. Only 1 item is allowed.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="campaign/navigationOverride">Navigation Override</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc3aae0c-c747-48a9-9ea8-d56d9a78bb1c</Key>
      <Caption>Campaign page configuration</Caption>
      <Alias>campaign/campaignPageConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d17b3b05-6625-4426-af68-3314ab2b7e44</Key>
      <Caption>Navigation Override</Caption>
      <Alias>campaign/navigationOverride</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>bbf0c0df-b27d-482f-8444-06c931104390</Key>
      <Caption>Mobile Sticky Navigation Override</Caption>
      <Alias>campaign/mobileStickyNavigationOverride</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>1bc3491b-0fc7-4151-82f1-3922062f5444</Key>
      <Caption>Campaign</Caption>
      <Alias>campaign</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>