<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99a56929-1340-4fd4-b2dc-06fe84681449" Alias="pageBase" Level="2">
  <Info>
    <Name>_page base</Name>
    <Icon>icon-document-dashed-line color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Base page data</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc5eb119-bbde-42a5-ad23-4ee46537d515</Key>
      <Name>Content type</Name>
      <Alias>contentType</Alias>
      <Definition>d4e277c4-bb7b-4811-bd15-3cf0d74ff032</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The content type used by the resource hub component to filter search result]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d18bd943-1d73-41e9-a5b0-b1290feb538e</Key>
      <Name>Desktop product image</Name>
      <Alias>desktopProductImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="productConfiguration/productPageSettings">Product page settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a51a065-a712-4caf-8ea4-5bb9414efcd0</Key>
      <Name>Include in megamenu</Name>
      <Alias>includeInMegamenu</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will be included in the header megamenu if toggled.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigationConfiguration">Navigation configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2b05c3a-c6cf-4b8f-a5d7-f79e4d56f403</Key>
      <Name>Is product page</Name>
      <Alias>isProductPage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c382861d-ebf2-461f-8b2b-6a62367b7154</Key>
      <Name>Is video page</Name>
      <Alias>isVideoPage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89021475-c1a9-4e3b-8850-f88e8e01ebac</Key>
      <Name>Megamenu image</Name>
      <Alias>megamenuImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image used for the third level pages in the megamenu.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigationConfiguration">Navigation configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>612ccde5-624b-4ba0-b9f6-882636f10f43</Key>
      <Name>Megamenu view all link</Name>
      <Alias>megamenuViewAllLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[View all link (only applies to the second level page).]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigationConfiguration">Navigation configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17587029-3b07-4365-8fcf-49defcf088d8</Key>
      <Name>Mobile product image</Name>
      <Alias>mobileProductImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="productConfiguration/productPageSettings">Product page settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63ba3a6c-9bc3-41af-83cd-c93b5c93e535</Key>
      <Name>Product category</Name>
      <Alias>productCategory</Alias>
      <Definition>76969cb0-c1f2-4feb-9a98-d9d99d853b19</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The categories selected from the product categories data source. Add as many as required.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="productConfiguration/productPageSettings">Product page settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95669d78-bbcd-4b8f-8211-d1e6b616603d</Key>
      <Name>Product filters</Name>
      <Alias>productFilters</Alias>
      <Definition>3c7a97e6-1191-47fa-98cc-7353778c55e9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The filters selected from the product filters data source. Add as many as required.
This value is used by the Product Filters component]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="productConfiguration/productPageSettings">Product page settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfebc42e-491c-447b-a71a-490ca5d113fa</Key>
      <Name>Product priority</Name>
      <Alias>productPriority</Alias>
      <Definition>6d515e24-b571-4c1c-9059-1ab79d2dafe9</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^(?:0|[1-9][0-9]*)\.[0-9]+$</Validation>
      <Description><![CDATA[Enter a value between 0 and 1 (e.g. 0.5)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="productConfiguration/productPageSettings">Product page settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Please enter a value between 0 and 1</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b105369-c1a4-4bb7-a4d4-0eb05b0e35c6</Key>
      <Name>Search content type</Name>
      <Alias>searchContentType</Alias>
      <Definition>d4e277c4-bb7b-4811-bd15-3cf0d74ff032</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The content types used by the search component to filter search result]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32fcb920-0b51-4778-b8e8-67efb4f2ed34</Key>
      <Name>Search topics</Name>
      <Alias>searchTopics</Alias>
      <Definition>af9d39d9-6a13-4838-bfae-30515c39ee5e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The topics used by the search component to filter search result]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75b44379-ef27-4d04-9fb2-ebe55c77d941</Key>
      <Name>Topics</Name>
      <Alias>topic</Alias>
      <Definition>af9d39d9-6a13-4838-bfae-30515c39ee5e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The topics used by the resource hub component to filter search result]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ff1934b-0038-4a49-b1cb-d203ac2ac9ef</Key>
      <Name>Use page heading</Name>
      <Alias>usePageHeading</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use the title as a H1 heading on the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageConfiguration/pageSettings">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7a2753a7-d29b-4bb1-a033-18e35454b1ec</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageConfiguration/pageSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8ddf17fc-38c6-4987-a66d-1450ba46d839</Key>
      <Caption>Page configuration</Caption>
      <Alias>pageConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9a2d5701-4436-4144-b34a-24c3aaa1dee4</Key>
      <Caption>Product page settings</Caption>
      <Alias>productConfiguration/productPageSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>da3ac7fd-39f6-49a9-ab3b-3a08a9f4e620</Key>
      <Caption>Navigation configuration</Caption>
      <Alias>navigationConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b998483e-172a-4212-a1be-9d15f4f76d47</Key>
      <Caption>Product configuration</Caption>
      <Alias>productConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>