<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a6f64d3-9241-4b38-83c2-54a2b1074ff6" Alias="productFilters" Level="2">
  <Info>
    <Name>Product Filters</Name>
    <Icon>icon-books color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The component to show products and filters available on the website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>514f1e8d-9412-470f-9da2-ddb939c1187a</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/productFiltersConfiguration">Product filters configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6255e2fb-23b7-49c8-9f3b-e6b895525000</Key>
      <Name>Product categories</Name>
      <Alias>productCategories</Alias>
      <Definition>9a66d6cd-0045-443f-b43d-723ed5a6bdcd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select up to 4 page categories]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/productFiltersConfiguration">Product filters configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87efad89-1c79-4b59-b04c-7c24c50fd2a7</Key>
      <Name>Product filter groups</Name>
      <Alias>productFilterGroups</Alias>
      <Definition>c24ca0df-693b-476e-9558-8c186e841242</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a group of filters, providing the name of the group and selecting all the filters from the data source node.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/productFiltersConfiguration">Product filters configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d5f1f5d-9d78-4938-a33e-cf75cb3525da</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the component]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/productFiltersConfiguration">Product filters configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19c7b1a5-fc27-413d-9b00-05aff6cbd7f2</Key>
      <Caption>Product filters configuration</Caption>
      <Alias>content/productFiltersConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>73f56083-8b1d-4353-9e56-fa5d3b217bd4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>