<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37b39aef-5c4e-44ef-b60b-aa45addd3a3b" Alias="productCategoryFolder" Level="2">
  <Info>
    <Name>Product Category Folder</Name>
    <Icon>icon-folder color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ba153bb9-b127-4b50-b13b-43d6d43cc736" SortOrder="0">productCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>