<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1877a789-82ad-4508-9c49-10b4a518e037" Alias="resourceHub" Level="2">
  <Info>
    <Name>Resource Hub</Name>
    <Icon>icon-slideshow color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The resource hub component which uses the</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>354a4548-1310-49e6-8a2e-ee5cea3982bd</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description text underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/resourceHubConfiguration">Resource hub configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a55eac99-ca19-4211-82cd-32b9016f5a89</Key>
      <Name>Resource hub root</Name>
      <Alias>resourceHubRoot</Alias>
      <Definition>f2d195fd-a2ff-4cb1-b54c-9cd1610a41e7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The root page containing all of the resource hub pages]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/resourceHubConfiguration">Resource hub configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd9e51d6-3877-4282-86db-996926e9f467</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the component]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/resourceHubConfiguration">Resource hub configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>81c2bbba-ed75-4c35-bad4-ee7bd574fd43</Key>
      <Caption>Resource hub configuration</Caption>
      <Alias>content/resourceHubConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>aba52954-012c-484d-926e-f59d98f2724d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>