<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2c458fa-7f58-4166-b8de-2860dc3e814d" Alias="searchResult" Level="2">
  <Info>
    <Name>Search Result</Name>
    <Icon>icon-search color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The search result component.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>58f3f7e0-6cb9-4618-973d-8b30e3ff9fbe</Key>
      <Name>Apply CTA label</Name>
      <Alias>applyCTALabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The label on the apply button]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03fb4d28-77ec-4ff9-aa10-15856de32cf7</Key>
      <Name>Clear all label</Name>
      <Alias>clearAllLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The label on the clear filters button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>999b6115-2581-497d-9e8f-b960a3b44e97</Key>
      <Name>Filter heading</Name>
      <Alias>filterHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title above the filters]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8f15708-d924-4667-9efb-0dcf8d64d1da</Key>
      <Name>Help message</Name>
      <Alias>helpMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The help text which appears above the search result component.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c512670d-6234-4837-8d7b-6c97edf741c2</Key>
      <Name>No result message</Name>
      <Alias>noResultMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The message returned when no results are found]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4221c0f8-65b9-4b31-b14c-2cbe470f80a3</Key>
      <Name>Placeholder text</Name>
      <Alias>placeholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The placeholder text (ghost text) in the search keyword input box.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88e9f679-d8be-4602-a4d1-60f0b8677f8c</Key>
      <Name>Primary filter label</Name>
      <Alias>primaryFilterLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The label on the first filter section]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c093490-4215-47e0-9bab-0fc1c0a28045</Key>
      <Name>Result count message</Name>
      <Alias>resultCountMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The message for result counts. Use token (x) and (term) and it will be replaced with the number of results and keyword used in search.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>736d3986-35d8-4c3c-a7f6-84ea59f04bc0</Key>
      <Name>Secondary filter label</Name>
      <Alias>secondaryFilterLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The label on the second filter section]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/searchConfiguration">Search configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d912bebd-3ecc-43f8-8063-3eaaae9cda07</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>042d3f40-5915-4c19-878c-04b8005a45aa</Key>
      <Caption>Search configuration</Caption>
      <Alias>content/searchConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>