<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcb30a89-cbec-4bbc-8c6c-b1fc9778d85f" Alias="smallCarouselPanels" Level="2">
  <Info>
    <Name>Small carousel panels</Name>
    <Icon>icon-checkbox-dotted color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The panels used for small carousel</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>nested+content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a80da4e7-a9f4-4e50-a92b-5d983c22265c</Key>
      <Name>Desktop Image</Name>
      <Alias>desktopImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The desktop image
Recommend using .webp format.
The recommended resolutions are as follows height by width:
120px by 80px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5f2216f-8578-4dc2-9ada-d88c472835f9</Key>
      <Name>Mobile Image</Name>
      <Alias>mobileImage</Alias>
      <Definition>259736b3-40c9-444e-9d8d-f876d54f27ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The mobile image
Recommend using .webp format.
The recommended resolutions are the same as desktop images, with marginal leniency]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cadf3ad-e21a-46b7-89a0-29a459cc12aa</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title text of the panel]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>97b84f75-f6da-4540-82bb-a77bac69d392</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>