<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e6b978f-0953-4aa9-988f-02044f8235d4" Alias="smallCarousel" Level="2">
  <Info>
    <Name>Small Carousel</Name>
    <Icon>icon-coverflow color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e37297a1-4adc-4ecf-8a86-7050951eaf1b</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/smallCarouselConfiguration">Small carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88858568-da6d-4280-97a5-c5c946ba529a</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>877f82ca-a2f1-4bbb-9774-de43837f72ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The primary CTA]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/smallCarouselConfiguration">Small carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed634b4b-0c95-4383-8a3d-af2f8f64883b</Key>
      <Name>Link alignment</Name>
      <Alias>linkAlignment</Alias>
      <Definition>f325caf6-4b39-462f-8114-c3666d57b248</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The alignment of the primary CTA]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/smallCarouselConfiguration">Small carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7439311d-fa36-4a58-9cc7-8d9a28a91729</Key>
      <Name>Panels</Name>
      <Alias>panels</Alias>
      <Definition>f39b004c-a179-43fd-b908-2c445a2f3ae0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The carousel panels]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/smallCarouselConfiguration">Small carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6253d3ef-3bed-42ea-bcf3-b132ad41bd5e</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the carousel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/smallCarouselConfiguration">Small carousel configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d1517ead-188e-4644-8016-521cfde0ed48</Key>
      <Caption>Small carousel configuration</Caption>
      <Alias>content/smallCarouselConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>1f137ca9-7d7f-4c48-a49e-48daa576eff9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>