<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac86b6f7-101c-4326-98ac-545a38a40ac3" Alias="topic" Level="2">
  <Info>
    <Name>Topic</Name>
    <Icon>icon-quote color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Topics used for resource hub</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>