<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5071296c-9303-4388-813e-3e31f427f56f" Alias="topicsFolder" Level="2">
  <Info>
    <Name>Topics Folder</Name>
    <Icon>icon-folder color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ac86b6f7-101c-4326-98ac-545a38a40ac3" SortOrder="0">topic</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>