<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="180a58fa-13ce-4e83-98c3-8189c77c2229" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>configuration</Folder>
    <Compositions>
      <Composition Key="470f00e2-ce3a-4f79-aa90-6523c2c1eafc">scripts</Composition>
      <Composition Key="d3f110e6-14e9-42ca-988a-e8649f0b551a">siteConfiguration</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="86ea28d3-d170-4b21-a562-a77e97e142a1" SortOrder="0">home</ContentType>
    <ContentType Key="d316247f-8d6a-4f3e-8ca2-b490ea9e95a3" SortOrder="1">page</ContentType>
    <ContentType Key="61fab15f-fa70-4f1f-9358-e48c4f6915ba" SortOrder="2">error404</ContentType>
    <ContentType Key="1eb868e1-64c1-4851-9613-0c9daccbe2a8" SortOrder="3">doorVisualiserLandingPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>71f70609-bc4d-4cd3-ad9e-1287d0f4d1ec</Key>
      <Name>Default coordinates</Name>
      <Alias>defaultCoordinates</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65668a50-1de7-4735-93dd-390a26bf06bc</Key>
      <Name>Enable eyebrow banner</Name>
      <Alias>enableEyebrowBanner</Alias>
      <Definition>bb39cdca-c4ff-4fed-89f1-476db13527e9</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/eyebrowBannerConfiguration">Eyebrow banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>759921f6-f558-4f19-8bbf-5a1df2d613d0</Key>
      <Name>Eyebrow banner link</Name>
      <Alias>eyebrowBannerLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general/eyebrowBannerConfiguration">Eyebrow banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d08398b7-0708-40d5-91a5-cb60c50b268a</Key>
      <Name>Eyebrow banner text</Name>
      <Alias>eyebrowBannerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/eyebrowBannerConfiguration">Eyebrow banner configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>727c60e3-96f1-4827-bb7b-b5186144254f</Key>
      <Name>Mobile search placeholder text</Name>
      <Alias>mobileSearchPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The search header ghost text for mobile]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb313df6-e579-489e-ad37-9a1ac8e2955c</Key>
      <Name>Radius Range (Kilo meter)</Name>
      <Alias>radiusRangeMeters</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d6f9938-7bba-4882-92ef-77c035712866</Key>
      <Name>Search Account Id</Name>
      <Alias>searchAccountId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fef94501-2dc5-4732-834a-13925e7d2413</Key>
      <Name>Search Collection Id</Name>
      <Alias>searchCollectionId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Search IO collection name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2215d4d1-b5b7-4b97-8a78-713675165895</Key>
      <Name>Search domain</Name>
      <Alias>searchDomain</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Website domain associated with the ID and collection]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7f32128-0438-4c84-bc90-40cea80ada2e</Key>
      <Name>Search placeholder text</Name>
      <Alias>searchPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The search header ghost text]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ebb70cd-b6fb-4c99-bbd6-2c1cf3cc6f69</Key>
      <Name>Search results page</Name>
      <Alias>searchResultsPage</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The search results page used for redirecting the header search after using a search query]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="search">Search</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00fb6be3-3223-490d-806d-05317aa79dc3</Key>
      <Caption>Eyebrow banner configuration</Caption>
      <Alias>general/eyebrowBannerConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6a90104f-0b69-4e4d-a0ee-51c83bb258f2</Key>
      <Caption>Search</Caption>
      <Alias>search</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>