<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23c5a2ba-0345-48da-b1eb-4796b292384e" Alias="zigZag" Level="2">
  <Info>
    <Name>Zig Zag</Name>
    <Icon>icon-poll color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The zig zag component containing curated cards inside.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>components</Folder>
    <Compositions>
      <Composition Key="0f1b42e3-7dd7-4968-b1ab-c5f80ca0a3c1">componentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88345047-d667-47f0-b68d-ef2b175c2c13</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The text underneath the title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/zigZagConfiguration">Zig zag configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de3825bb-35b2-46ea-b43d-142cbdf72eb3</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The component title. The alignment is affected by the component configuration.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/zigZagConfiguration">Zig zag configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a0d742e-31ac-4de8-83df-64c1d5c79fa0</Key>
      <Name>Zig zag items</Name>
      <Alias>zigZagItems</Alias>
      <Definition>1ca79eb7-3d8b-4a7e-9813-0b8fffec68ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The card contents of the zig zag component. The cards are curated and unique for each zig zag component.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/zigZagConfiguration">Zig zag configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>439c64f0-a0d1-4a8d-b860-5658ef4a6a7d</Key>
      <Caption>Zig zag configuration</Caption>
      <Alias>content/zigZagConfiguration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4754f8ee-39bb-4bfa-8051-f49cb322bc00</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>