<style type="text/css">
    .api-default {
        margin: 0 auto;
        padding: 20%;
        text-align: center;
    }
</style>

<div class="api-default">
    <p>Welcome to the B&D API</p>
</div>
