<div data-jsonld="1" data-bid="83928_88865_88866_88864_88860" data-aid="4329" data-url="https://app.gatherup.com"><script src="https://widget.reviewability.com/js/widgetAdv.min.js" async></script></div><script class="json-ld-content" type="application/ld+json"></script>
<script type="text/javascript">
const div = document.querySelector('div')
const observer = new MutationObserver(() => {
  window.parent.postMessage(document.body.scrollHeight, 'https://www.bnd.com.au');
  observer.disconnect()
});
observer.observe(div, {childList: true})
</script>