<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be2321b2-bfd7-4f14-b4a2-bdedfa289206" Alias="Accordion - Accordion Content - Nested Content" Level="1">
  <Info>
    <Name>Accordion - Accordion Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordionPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>