<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62f076b9-92c9-438d-9406-491118a2d4ce" Alias="Accordion - Accordion Content - Multinode Treepicker" Level="1">
  <Info>
    <Name>Accordion - Accordion Content - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/accordionContentFolder",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>