<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a7e1d47-b3d0-4fdc-8260-ba5942be3fec" Alias="Campaign Banner - Is pull quote - Toggle" Level="1">
  <Info>
    <Name>Campaign Banner - Is pull quote - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>