<?xml version="1.0" encoding="utf-8"?>
<DataType Key="384129d1-2846-4d9d-bf42-d31ff18111b7" Alias="Campaign Banner - Enable overlay - Toggle" Level="1">
  <Info>
    <Name>Campaign Banner - Enable overlay - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>