<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3effbfb3-0dd6-49ba-91de-9e35b6b848af" Alias="Campaign Banner - Is pull quote - Toggle (1)" Level="1">
  <Info>
    <Name>Campaign Banner - Is pull quote - Toggle (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>