<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a01a8472-0cf3-4647-ac83-0a335cad5df2" Alias="Campaign Hero Banner - Links - Nested Content" Level="1">
  <Info>
    <Name>Campaign Hero Banner - Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "configurableLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ link[0].name }}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>