<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1becafca-3847-4506-a4d1-e25aeece0d13" Alias="Campaign Banner - Variant - Dropdown" Level="1">
  <Info>
    <Name>Campaign Banner - Variant - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Pull quote"
    },
    {
      "id": 2,
      "value": "Pull quote with background image and increased height"
    },
    {
      "id": 3,
      "value": "Information card with video and image"
    }
  ]
}]]></Config>
</DataType>