<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9d68aee-eea8-41da-81f7-248b08c31281" Alias="Card - Link - Nested Content" Level="1">
  <Info>
    <Name>Card - Link - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "configurableLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ link[0].name }}"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>