<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b7b4f01-d495-4857-95d7-e1872f3328d3" Alias="Card List - Card Branding Enable - Toggle" Level="1">
  <Info>
    <Name>Card List - Card Branding Enable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>