<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a53a8698-f0e7-4454-94dc-4874ed57d470" Alias="Card List - Card items - Nested Content" Level="1">
  <Info>
    <Name>Card List - Card items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "card",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>