<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad84f335-8dc5-4e62-a989-aea085c70aa1" Alias="Card - Files - Media Picker" Level="1">
  <Info>
    <Name>Card - Files - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "File,umbracoMediaArticle",
  "Multiple": true,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "EnableLocalFocalPoint": false,
  "Crops": [],
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>