<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6230bda-e003-43bc-b7cc-e9d2fb1fbdf2" Alias="Card List - Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Card List - Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>