<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fce2176b-e38e-4588-9a48-2cc11154abc3" Alias="Card Listing - No of cards - Numeric" Level="1">
  <Info>
    <Name>Card Listing - No of cards - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 1,
  "max": 100
}]]></Config>
</DataType>