<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31fea7b2-17e5-4398-aab2-f4e379eb11f4" Alias="_component base - Aspect ratio - Dropdown" Level="1">
  <Info>
    <Name>_component base - Aspect ratio - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "4:3"
    },
    {
      "id": 2,
      "value": "16:9"
    },
    {
      "id": 3,
      "value": "21:9"
    }
  ]
}]]></Config>
</DataType>