<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a917733-ada1-43d5-b93a-f41103459e17" Alias="_component base - Background colour - Dropdown" Level="1">
  <Info>
    <Name>_component base - Background colour - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Light"
    },
    {
      "id": 2,
      "value": "Dark"
    }
  ]
}]]></Config>
</DataType>