<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76a00328-8cc1-4165-9140-5227f5a31e93" Alias="_component base - Background video - Media Picker" Level="1">
  <Info>
    <Name>_component base - Background video - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "umbracoMediaVideo",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "StartNodeId": null,
  "EnableLocalFocalPoint": false,
  "Crops": [],
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>