<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69b71c7e-ffff-4dcd-89ff-0558f6b837d5" Alias="_component base - Font colour - Dropdown" Level="1">
  <Info>
    <Name>_component base - Font colour - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 2,
      "value": "Light"
    },
    {
      "id": 1,
      "value": "Dark"
    }
  ]
}]]></Config>
</DataType>