<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6668c35d-d040-4086-bef2-b2b61c451466" Alias="_component base - Font colour - Color Picker" Level="1">
  <Info>
    <Name>_component base - Font colour - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"262626\",\"label\":\"262626\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ]
}]]></Config>
</DataType>