<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f325caf6-4b39-462f-8114-c3666d57b248" Alias="_component base - Alignment - Dropdown" Level="1">
  <Info>
    <Name>_component base - Alignment - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    }
  ]
}]]></Config>
</DataType>