<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fee60b0-2aab-4263-ba56-44f29a305e36" Alias="_component base - Background colour - Color Picker" Level="1">
  <Info>
    <Name>_component base - Background colour - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"f2f2f2\",\"label\":\"f2f2f2\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ]
}]]></Config>
</DataType>