<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6dde270-8831-4ede-8753-c0db45510c0c" Alias="_component base - Desktop background image - Media Picker (legacy)" Level="1">
  <Info>
    <Name>_component base - Desktop background image - Media Picker (legacy)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>