<?xml version="1.0" encoding="utf-8"?>
<DataType Key="877f82ca-a2f1-4bbb-9774-de43837f72ad" Alias="Configurable link (single) - Nested Content" Level="1">
  <Info>
    <Name>Configurable link (single) - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "configurableLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ link[0].name }}"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>