<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3df8ba7-0afb-4e58-aa37-07db6518dfd7" Alias="Dealer - Mobile Hub Showroom - Toggle" Level="1">
  <Info>
    <Name>Dealer - Mobile Hub Showroom - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>