<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6dafcb7-af0d-4b64-afe1-2a855078a4b4" Alias="Dealer - State - Dropdown" Level="1">
  <Info>
    <Name>Dealer - State - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "NSW"
    },
    {
      "id": 2,
      "value": "VIC"
    },
    {
      "id": 3,
      "value": "QLD"
    },
    {
      "id": 4,
      "value": "WA"
    },
    {
      "id": 5,
      "value": "SA"
    },
    {
      "id": 6,
      "value": "TAS"
    },
    {
      "id": 7,
      "value": "NT"
    },
    {
      "id": 8,
      "value": "ACT"
    }
  ]
}]]></Config>
</DataType>