<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c904ae0a-a97b-4ee0-9425-ccdf3f4431d1" Alias="Dealer - Distance Calculate From Lat  Lng - Toggle" Level="1">
  <Info>
    <Name>Dealer - Distance Calculate From Lat  Lng - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>