<?xml version="1.0" encoding="utf-8"?>
<DataType Key="235314d7-e376-4531-bc3f-f601bd0d2d5b" Alias="Dealer Map - Dealer - Multinode Treepicker" Level="1">
  <Info>
    <Name>Dealer Map - Dealer - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/dealersFolder",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>