<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c030b7e-7689-4b4f-83c9-de7a66051d04" Alias="Dealer - Service  Repair - Toggle" Level="1">
  <Info>
    <Name>Dealer - Service  Repair - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>