<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe566fac-6dac-4865-be23-3b9ceb45798f" Alias="_dealer base - Dealer filters - Multinode Treepicker" Level="1">
  <Info>
    <Name>_dealer base - Dealer filters - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/d974dbc889114b0a8d664b5369fa231e"
  },
  "Filter": "dealerFilter",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>