<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4be5aa93-b348-4f94-b3b9-2270090ee2ff" Alias="Dealer - MQ (Default Ticked) - Toggle" Level="1">
  <Info>
    <Name>Dealer - MQ (Default Ticked) - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>