<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b86a442e-4de2-4c6f-9c9b-1da17d9ae3a8" Alias="Door Visualizer Panels Page - Nested Content" Level="1">
  <Info>
    <Name>Door Visualizer Panels Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "doorVisualizerPanel",
      "ncTabAlias": "Door Visualizer",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>