<?xml version="1.0" encoding="utf-8"?>
<DataType Key="307772a1-8d39-406d-9d5a-4df867227f41" Alias="_door visualiser - Is Door Visualiser - Toggle" Level="1">
  <Info>
    <Name>_door visualiser - Is Door Visualiser - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>