<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09fbaeae-8fd4-4d4b-b82e-335ea66fae2a" Alias="Door Visualiser Panels Page - Nested Content" Level="1">
  <Info>
    <Name>Door Visualiser Panels Page - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "doorVisualiserPanel",
      "ncTabAlias": "Door Visualizer",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>