<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13dd4ede-b637-468e-adf4-eaff02a3600b" Alias="Door Visualiser Panels Page - Panels - Nested Content" Level="1">
  <Info>
    <Name>Door Visualiser Panels Page - Panels - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "doorVisualiserPanel",
      "ncTabAlias": "Door Visualiser",
      "nameTemplate": "{{ cTA[0].link[0].name}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>