<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1b3b3e4-00e7-45f6-be18-c869e5259c2a" Alias="Feature Carousel - Feature Branding Enable - Toggle" Level="1">
  <Info>
    <Name>Feature Carousel - Feature Branding Enable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>