<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1c9b611-f91b-476a-b9db-667834fc09ff" Alias="Feature Carousel - Panels - Nested Content" Level="1">
  <Info>
    <Name>Feature Carousel - Panels - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "carouselPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>