<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81c31120-89fc-4296-85df-9ab95575b00e" Alias="Find a Dealer - Mobile showrooms - Nested Content" Level="1">
  <Info>
    <Name>Find a Dealer - Mobile showrooms - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mobileShowroom",
      "ncTabAlias": "Mobile showroom configuration",
      "nameTemplate": "{{ suburb }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>