<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2322d00-97e4-4c8f-88bc-fd65f40392ab" Alias="Hero Banner - Hero Branding Enable - Toggle" Level="1">
  <Info>
    <Name>Hero Banner - Hero Branding Enable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>