<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9a62ff3-ee82-43b1-9a6d-cc3ed9e39352" Alias="Image Link - Link image - Media Picker" Level="1">
  <Info>
    <Name>Image Link - Link image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "StartNodeId": null,
  "EnableLocalFocalPoint": false,
  "Crops": [],
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>