<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c26dbd73-331d-4ae4-9003-a56bf5988973" Alias="Im Looking For - Card items - Nested Content" Level="1">
  <Info>
    <Name>Im Looking For - Card items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "card",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": 3,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>