<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3daeef1c-2e1f-46d5-8df1-ed3dd82b8afa" Alias="Listing - Listing contents - Multinode Treepicker" Level="1">
  <Info>
    <Name>Listing - Listing contents - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/website",
    "id": null
  },
  "Filter": "page",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>