<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c489052-3e9b-4c50-b3db-a7f0945f2242" Alias="Looking For - Card Images On Left - Toggle" Level="1">
  <Info>
    <Name>Looking For - Card Images On Left - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>