<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15662a70-a7ab-4cbd-a730-7c90bf3f858e" Alias="Mobile showroom - Postcodes - Textarea" Level="1">
  <Info>
    <Name>Mobile showroom - Postcodes - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>