<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e095eb0-2f50-48b1-bf22-f5e735d89ca1" Alias="Mobile showroom - DealerName - Textbox" Level="1">
  <Info>
    <Name>Mobile showroom - DealerName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>