<?xml version="1.0" encoding="utf-8"?>
<DataType Key="661c5785-f494-40de-9880-2383c8818ca3" Alias="Mobile showroom - Free  Measure  Quote - Toggle" Level="1">
  <Info>
    <Name>Mobile showroom - Free  Measure  Quote - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>