<?xml version="1.0" encoding="utf-8"?>
<DataType Key="422414a2-6733-4241-bf96-98e3b43c49f6" Alias="Mobile showroom - Website url - Textbox" Level="1">
  <Info>
    <Name>Mobile showroom - Website url - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>