<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eda40ab5-b057-42ff-aad1-5f03d187e25d" Alias="Mobile showroom - Postcodes - Nested Content" Level="1">
  <Info>
    <Name>Mobile showroom - Postcodes - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "postcodeItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ postcode }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>