<?xml version="1.0" encoding="utf-8"?>
<DataType Key="186f89a7-82a6-467a-b678-e331a45f56e3" Alias="Mobile showroom - Commercial - Toggle" Level="1">
  <Info>
    <Name>Mobile showroom - Commercial - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>