<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3375648b-75ee-4d8e-a694-41093f625ec6" Alias="Mobile showroom - Service or Repair - Toggle" Level="1">
  <Info>
    <Name>Mobile showroom - Service or Repair - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>