<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cac3f0b-1cb6-4f40-9419-cc469def40f5" Alias="Mobile showroom - Address - Textbox" Level="1">
  <Info>
    <Name>Mobile showroom - Address - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>