<?xml version="1.0" encoding="utf-8"?>
<DataType Key="465f342f-337d-4616-8f43-8a803ad95129" Alias="_page base - Search content type - Multinode Treepicker" Level="1">
  <Info>
    <Name>_page base - Search content type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/searchContentTypesFolder",
    "id": null
  },
  "Filter": "searchContentType",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>