<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff9adf69-e81b-4808-9b6d-e8a41b075551" Alias="_page base - Disable utility and megamenu - Toggle" Level="1">
  <Info>
    <Name>_page base - Disable utility and megamenu - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>