<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76969cb0-c1f2-4feb-9a98-d9d99d853b19" Alias="_page base - Product category - Multinode Treepicker" Level="1">
  <Info>
    <Name>_page base - Product category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/productCategoryFolder",
    "id": null
  },
  "Filter": "productCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>