<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1d27a89-335a-4179-8735-1617cdfa2363" Alias="_page base - Disable eyebrow banner - Toggle" Level="1">
  <Info>
    <Name>_page base - Disable eyebrow banner - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>