<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d73a1795-20f2-430a-86cf-68f40f52054a" Alias="Page - Utility Navigation Items Override - Multi URL Picker" Level="1">
  <Info>
    <Name>Page - Utility Navigation Items Override - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>