<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af9d39d9-6a13-4838-bfae-30515c39ee5e" Alias="_page base - Topic - Multinode Treepicker" Level="1">
  <Info>
    <Name>_page base - Topic - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/topicsFolder",
    "id": null
  },
  "Filter": "topic",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>