<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4e277c4-bb7b-4811-bd15-3cf0d74ff032" Alias="_page base - Content type - Multinode Treepicker" Level="1">
  <Info>
    <Name>_page base - Content type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/contentTypesFolder",
    "id": null
  },
  "Filter": "category",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>