<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c7a97e6-1191-47fa-98cc-7353778c55e9" Alias="_page base - Product filters - Multinode Treepicker" Level="1">
  <Info>
    <Name>_page base - Product filters - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/productFiltersFolder",
    "id": null
  },
  "Filter": "productFilter",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>