<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a66d6cd-0045-443f-b43d-723ed5a6bdcd" Alias="Product Filters - Product categories - Multinode Treepicker" Level="1">
  <Info>
    <Name>Product Filters - Product categories - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/productCategoryFolder",
    "id": null
  },
  "Filter": "productCategory",
  "MinNumber": 0,
  "MaxNumber": 4,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>