<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c24ca0df-693b-476e-9558-8c186e841242" Alias="Product Filters - Product filter groups - Nested Content" Level="1">
  <Info>
    <Name>Product Filters - Product filter groups - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productFilterGroup",
      "ncTabAlias": "Product filter configuration",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>