<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2d195fd-a2ff-4cb1-b54c-9cd1610a41e7" Alias="Resource Hub - Resource hub root - Multinode Treepicker" Level="1">
  <Info>
    <Name>Resource Hub - Resource hub root - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/website",
    "id": null
  },
  "Filter": "page",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>