<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4830e917-e4a8-4b84-b027-c5d113680ab0" Alias="_seo - Search Engine Relative Priority - Slider" Level="1">
  <Info>
    <Name>_seo - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>