<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44028e09-b012-45c2-bd43-566eb6b3f4a7" Alias="Single Page Picker" Level="1">
  <Info>
    <Name>Single Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/website",
    "id": null
  },
  "Filter": "page",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>