<?xml version="1.0" encoding="utf-8"?>
<DataType Key="259736b3-40c9-444e-9d8d-f876d54f27ae" Alias="Single Image Media Picker" Level="1">
  <Info>
    <Name>Single Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "StartNodeId": null,
  "EnableLocalFocalPoint": false,
  "Crops": [],
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>