<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0fd8a4d-adbb-4415-892f-9ad268d7ac9b" Alias="_site configuration - Utility footer links - Multi URL Picker" Level="1">
  <Info>
    <Name>_site configuration - Utility footer links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>