<?xml version="1.0" encoding="utf-8"?>
<DataType Key="258b431d-9a78-4379-a35b-a9df55014f31" Alias="_site configuration - External links - Multinode Treepicker" Level="1">
  <Info>
    <Name>_site configuration - External links - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/imageLinkFolder",
    "id": null
  },
  "Filter": "imageLink",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>