<?xml version="1.0" encoding="utf-8"?>
<DataType Key="277f83b9-bb62-4762-bbe5-b5ffc0e005c5" Alias="_site configuration - Mobile Sticky Navigation Items - Multi URL Picker" Level="1">
  <Info>
    <Name>_site configuration - Mobile Sticky Navigation Items - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 3,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>