<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3eba4faf-b1fe-4e95-ae7a-1547d5146edc" Alias="_site configuration - Utility Navigation Items - Multi URL Picker" Level="1">
  <Info>
    <Name>_site configuration - Utility Navigation Items - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 5,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>