<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffa5e23e-dd08-4e7d-9ddb-93eeb73497f7" Alias="_site configuration - Enable modal - Toggle" Level="1">
  <Info>
    <Name>_site configuration - Enable modal - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>