<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13ede72d-27a3-4434-831a-7f93ee4c1fa4" Alias="_site configuration - navigation links - Multi URL Picker" Level="1">
  <Info>
    <Name>_site configuration - navigation links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>