<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eee8ec56-17fc-4d79-9a0f-f3ea8a68c23e" Alias="_site configuration - Utility Navigation Items - Multinode Treepicker" Level="1">
  <Info>
    <Name>_site configuration - Utility Navigation Items - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/7dfa131747cd4bb7adcfcc6e0954aee5"
  },
  "Filter": "page",
  "MinNumber": 0,
  "MaxNumber": 5,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>