<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4417cc94-f789-40c3-82df-0817a52ab89a" Alias="_site configuration - Footer navigation sections - Multinode Treepicker" Level="1">
  <Info>
    <Name>_site configuration - Footer navigation sections - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/dataFolder/navigationSectionsFolder",
    "id": null
  },
  "Filter": "navigationSection",
  "MinNumber": 0,
  "MaxNumber": 4,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>