<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f39b004c-a179-43fd-b908-2c445a2f3ae0" Alias="Small Carousel - Panels - Nested Content" Level="1">
  <Info>
    <Name>Small Carousel - Panels - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "smallCarouselPanels",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ title }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>