<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cee1f14a-e126-4dfa-9bee-514cdde31c10" Alias="Tabbed Content - Tab panels - Nested Content" Level="1">
  <Info>
    <Name>Tabbed Content - Tab panels - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "{{tabName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>