<?xml version="1.0" encoding="utf-8"?>
<DataType Key="086ea1ba-d247-4af1-a626-b42b5c2c13ae" Alias="Testimonial Carousel - Testimonials - Nested Content" Level="1">
  <Info>
    <Name>Testimonial Carousel - Testimonials - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonialPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ testimonialAuthor }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>