<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d515e24-b571-4c1c-9059-1ab79d2dafe9" Alias="Textstring - Double values" Level="1">
  <Info>
    <Name>Textstring - Double values</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 3
}]]></Config>
</DataType>