<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdfdac1d-da70-4f6d-8e62-7fadc78473d6" Alias="Textfield - Australian Phone Number" Level="1">
  <Info>
    <Name>Textfield - Australian Phone Number</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>