<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e16f0b8-913a-4382-ac33-1a9f8c0864d2" Alias="Textstring - Postcodes" Level="1">
  <Info>
    <Name>Textstring - Postcodes</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>