<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e0246d7-0cae-47d6-b1fe-3485030515a0" Alias="URL Picker (Multiple)" Level="1">
  <Info>
    <Name>URL Picker (Multiple)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>