<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb39cdca-c4ff-4fed-89f1-476db13527e9" Alias="Website - Enable eyebrow banner - Toggle" Level="1">
  <Info>
    <Name>Website - Enable eyebrow banner - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>