<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae233f09-36ee-4a93-9d71-655b978250a1" Alias="Website - Eyebrow Banner Text - Textbox" Level="1">
  <Info>
    <Name>Website - Eyebrow Banner Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>