<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea08ab1f-df63-4140-826c-273e533afaca" Alias="Zigzag Card - Card links - Nested Content" Level="1">
  <Info>
    <Name>Zigzag Card - Card links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "configurableLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ link[0].name }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>