<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ca79eb7-3d8b-4a7e-9813-0b8fffec68ad" Alias="Zig Zag - Zig zag items - Nested Content" Level="1">
  <Info>
    <Name>Zig Zag - Zig zag items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "zigzagCard",
      "ncTabAlias": "Content",
      "nameTemplate": "{{cardTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>