<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ef04e6e-5f8e-4fc5-a8df-60cc640d2daa" Alias="Car port" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/CarPort</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:37:46</CreateDate>
    <NodeName Default="Car port" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>