<?xml version="1.0" encoding="utf-8"?>
<Content Key="55a977d0-c534-471e-be66-a34e6564a0ad" Alias="Child page 1" Level="4">
  <Info>
    <Parent Key="e4c26749-005e-47b9-86de-bc5f2f37669e">Smart Door Solutions</Parent>
    <Path>/BDAustralia/GarageDoors/SmartDoorSolutions/ChildPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-04-04T14:27:10</CreateDate>
    <NodeName Default="Child page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[
  {
    "key": "9a20f63a-eb9c-422e-bd70-8650b54de4f0",
    "mediaKey": "10f97d45-0441-4950-a6ca-139f495418e3"
  }
]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[1]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[1]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-04-20T00:00:00]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Child page 1]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "22675a27-ac74-4229-ae5d-b16dd8c47797",
    "mediaKey": "173309fd-5cb1-4f13-984c-a797f8145d46"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "dcb0f3e9-ac66-49fd-846a-d3d70171988a",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[Child page 1]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Child page 1]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[
  {
    "key": "7b65de50-d81a-4b57-9146-4f0c3495c0c7",
    "mediaKey": "10f97d45-0441-4950-a6ca-139f495418e3"
  }
]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[umb://document/a9b8baf48c6f4138a11fd84d9113a735]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[umb://document/ff01024e6a7b44169d37d8bace16486b,umb://document/59d20ceba1dc467b9929c6aef9c54403,umb://document/bc335e337d914c1395c3d21515d084ac,umb://document/6e8db342f5db4d0bac7f84c0be68af4d,umb://document/35e9b86844514e0c909aaf0be2373d4d,umb://document/ea50717ca1684f92b223194ba5fa746c]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[0.1]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Child page 1]]></Value>
    </title>
    <topic>
      <Value><![CDATA[]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>