<?xml version="1.0" encoding="utf-8"?>
<Content Key="311e6381-7374-463d-aa84-c86257cf82da" Alias="Components" Level="3">
  <Info>
    <Parent Key="92100356-6f61-47c3-bb88-95e81a20de73">Garage Doors</Parent>
    <Path>/BDAustralia/GarageDoors/Components</Path>
    <Trashed>false</Trashed>
    <ContentType>components</ContentType>
    <CreateDate>2022-03-21T10:29:45</CreateDate>
    <NodeName Default="Components" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>