<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec835fff-0f0b-41f8-85b9-32da495d68af" Alias="Designer Series" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/DesignerSeries</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:36:20</CreateDate>
    <NodeName Default="Designer Series" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>