<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dd4b065-ff1a-49e1-bef6-a277c93f0ddd" Alias="Designer doors" Level="3">
  <Info>
    <Parent Key="7435e039-2e5b-46f5-9969-ff1a534925ef">Product Categories</Parent>
    <Path>/DataSources/ProductCategories/DesignerDoors</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2022-06-20T16:48:16</CreateDate>
    <NodeName Default="Designer doors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>