<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b07a5d7-bfe8-4f87-ad26-e16836050794" Alias="Designer series doors" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/DesignerSeriesDoors</Path>
    <Trashed Parent="79036d45-7faa-477f-9fdb-1d965903bea8">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-03-29T14:51:51</CreateDate>
    <NodeName Default="Designer series doors" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[0]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[0]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "0a2b9d54-cc06-4409-89c0-43ea80b4f491",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "cf0dafba-4577-4b73-855a-2fbc0f48997f",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Designer doors]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[
  {
    "key": "ae015e02-2b81-4eac-9699-c4345ab1c678",
    "mediaKey": "17305eb8-93d4-43bd-8953-118323eae1ae"
  }
]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Designer series door]]></Value>
    </title>
    <topic>
      <Value><![CDATA[]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>