<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc335e33-7d91-4c13-95c3-d21515d084ac" Alias="Double garage door" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/DoubleGarageDoor</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:38:11</CreateDate>
    <NodeName Default="Double garage door" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>