<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e71cf48-25b6-4167-86f2-2cd0d5515631" Alias="Existing home / garage" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/ExistingHomeGarage</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:37:23</CreateDate>
    <NodeName Default="Existing home / garage" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>