<?xml version="1.0" encoding="utf-8"?>
<Content Key="399891e3-1bd1-407f-a001-200cf42b006a" Alias="Firmadoor" Level="4">
  <Info>
    <Parent Key="79036d45-7faa-477f-9fdb-1d965903bea8">Roller Doors</Parent>
    <Path>/BDAustralia/GarageDoors/RollerDoors/Firmadoor</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-03-29T15:15:46</CreateDate>
    <NodeName Default="Firmadoor" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[
  {
    "key": "946c2be8-9f03-4c2c-92cd-bb15b7c609dc",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[1]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[0]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-06-20T00:00:00]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "a551d714-47d1-40af-8e8a-4c30ad2c31dc",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "3df384a8-904c-4409-82e2-640ffa524c18",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Firmadoor]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[
  {
    "key": "0796a44a-9d3d-4942-9662-56f6398e9cf4",
    "mediaKey": "17305eb8-93d4-43bd-8953-118323eae1ae"
  }
]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[
  {
    "key": "2c024f87-998f-4e17-bf7a-cd47f90f3b8b",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[umb://document/92f4a4d3b4db4498b90c6a42b1326f84]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[umb://document/8e71cf4825b6416786f22cd0d5515631]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[0.3]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Firmadoor]]></Value>
    </title>
    <topic>
      <Value><![CDATA[]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>