<?xml version="1.0" encoding="utf-8"?>
<Content Key="92100356-6f61-47c3-bb88-95e81a20de73" Alias="Garage Doors" Level="2">
  <Info>
    <Parent Key="7dfa1317-47cd-4bb7-adcf-cc6e0954aee5">B&amp;D Australia</Parent>
    <Path>/BDAustralia/GarageDoors</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-03-10T09:08:50</CreateDate>
    <NodeName Default="Garage Doors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[<script>console.log('My Custom Script')</script>]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[umb://document/96876414f28a45e3b1d0fa70e91a633f]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[<script>console.log('My Custom Script')</script>]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[0]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[1]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-03-10T00:00:00]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "74e1e8eb-0c09-4794-94a1-07abb86aa47c",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "91f0d30f-0f04-4602-86a3-c68e613ae91a",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, ]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Roller Doors Listing]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[B&D Australia Roller Doors]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[Roller Doors, Doors, Garage, B&D]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[B&D Australia]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[2]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[umb://document/96876414f28a45e3b1d0fa70e91a633f,umb://document/0c81cda3c65d4160bdb605609c613cf6,umb://document/b8d7e3b792434b54b79c1ba285129e20]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[umb://document/cfcad76d442144d185429950d9f53762,umb://document/5eb6aa83b30f45ab9c9ae347b9d4f5d7,umb://document/4df44f57fb8947b989fe15c0607c188a,umb://document/6821b31f96e54f6dbee5dd3b079a1bda]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Roller Doors]]></Value>
    </title>
    <topic>
      <Value><![CDATA[umb://document/6821b31f96e54f6dbee5dd3b079a1bda]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[garage-doors]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[0]]></Value>
    </usePageHeading>
  </Properties>
</Content>