<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea50717c-a168-4f92-b223-194ba5fa746c" Alias="Mixed Materials" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/MixedMaterials</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:39:00</CreateDate>
    <NodeName Default="Mixed Materials" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>