<?xml version="1.0" encoding="utf-8"?>
<Content Key="59d20ceb-a1dc-467b-9929-c6aef9c54403" Alias="New home / garage" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/NewHomeGarage</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:36:57</CreateDate>
    <NodeName Default="New home / garage" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>