<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9b8baf4-8c6f-4138-a11f-d84d9113a735" Alias="Openers &amp; Remotes" Level="3">
  <Info>
    <Parent Key="7435e039-2e5b-46f5-9969-ff1a534925ef">Product Categories</Parent>
    <Path>/DataSources/ProductCategories/OpenersRemotes</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2022-06-20T16:48:24</CreateDate>
    <NodeName Default="Openers &amp; Remotes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>