<?xml version="1.0" encoding="utf-8"?>
<Content Key="35e9b868-4451-4e0c-909a-af0be2373d4d" Alias="Precious Metal" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/PreciousMetal</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:38:51</CreateDate>
    <NodeName Default="Precious Metal" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>