<?xml version="1.0" encoding="utf-8"?>
<Content Key="79036d45-7faa-477f-9fdb-1d965903bea8" Alias="Roller Doors" Level="3">
  <Info>
    <Parent Key="92100356-6f61-47c3-bb88-95e81a20de73">Garage Doors</Parent>
    <Path>/BDAustralia/GarageDoors/RollerDoors</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-03-16T09:49:38</CreateDate>
    <NodeName Default="Roller Doors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[https://local.bnd.sitback.com.au/garage-doors/automated/]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[umb://document/78a390f1acf942178da7a8da6119817e,umb://document/96876414f28a45e3b1d0fa70e91a633f,umb://document/0c81cda3c65d4160bdb605609c613cf6,umb://document/b8d7e3b792434b54b79c1ba285129e20]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[Automated door]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[
  {
    "key": "ef33c6b6-cf98-4082-a733-46e5c1f87aae",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[1]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[1]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-05-09T00:00:00]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "a952c6c7-2097-4504-80b9-80d24caae484",
    "mediaKey": "efbbdd58-3566-47ed-a249-dc85cb4a6b81"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "fad918fe-507e-4e9a-b751-294d7dc0ebc8",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[Automated Renamed]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Sample content 1]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[[{"name":"View all doors","udi":"umb://document/921003566f6147c3bb8895e81a20de73"}]]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[
  {
    "key": "061ddd81-f7c7-43af-a94b-ae081cc6c3e5",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[Automated]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[B&D Australlia]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[umb://document/0c81cda3c65d4160bdb605609c613cf6]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.1]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[umb://document/4df44f57fb8947b989fe15c0607c188a]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Automated]]></Value>
    </title>
    <topic>
      <Value><![CDATA[umb://document/4df44f57fb8947b989fe15c0607c188a,umb://document/5eb6aa83b30f45ab9c9ae347b9d4f5d7,umb://document/cfcad76d442144d185429950d9f53762,umb://document/5d1a5292e78e47f9bcbb4c077e5f5b29,umb://document/6821b31f96e54f6dbee5dd3b079a1bda]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[garage-doors/automated]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>