<?xml version="1.0" encoding="utf-8"?>
<Content Key="71dcc77a-a8ab-4437-99ca-d45612d6f8cc" Alias="Roll A Door" Level="4">
  <Info>
    <Parent Key="79036d45-7faa-477f-9fdb-1d965903bea8">Roller Doors</Parent>
    <Path>/BDAustralia/GarageDoors/RollerDoors/RollADoor</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-06-20T16:43:26</CreateDate>
    <NodeName Default="Roll A Door" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[Roll A Door]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[
  {
    "key": "8b115f76-8f3c-4ac9-a5c6-72b7b2f5bafe",
    "mediaKey": "173309fd-5cb1-4f13-984c-a797f8145d46"
  }
]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[1]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[0]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-06-20T16:43:26]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Roll A Door]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[Roll A Door]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Roll A Door]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[
  {
    "key": "4159ba27-c5fb-4336-9266-bbc26d7eab62",
    "mediaKey": "173309fd-5cb1-4f13-984c-a797f8145d46"
  }
]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[Roll A Door]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[umb://document/92f4a4d3b4db4498b90c6a42b1326f84]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[umb://document/59d20ceba1dc467b9929c6aef9c54403,umb://document/8e71cf4825b6416786f22cd0d5515631,umb://document/20a27d12b67c4c85b2144d5c38b9fdf6]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[0.5]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Roll A Door]]></Value>
    </title>
    <topic>
      <Value><![CDATA[]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[0]]></Value>
    </usePageHeading>
  </Properties>
</Content>