<?xml version="1.0" encoding="utf-8"?>
<Content Key="633ffa09-79ca-4222-8ac5-000ac2c8bd38" Alias="Sample doors" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SampleDoors</Path>
    <Trashed Parent="79036d45-7faa-477f-9fdb-1d965903bea8">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-04-04T14:08:15</CreateDate>
    <NodeName Default="Sample doors" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[Sample doors]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[0]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[0]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo elementum nisi, sed tristique felis finibus non. Suspendisse sed gravida odio, vel aliquet arcu. Curabitur vestibulum maximus nulla non semper]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "84f1f553-c1cc-452a-8ca7-058026e864b2",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "73f6e37a-77d1-44a6-8a98-d718380cfd15",
    "mediaKey": "173309fd-5cb1-4f13-984c-a797f8145d46"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Sample doors]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[
  {
    "key": "d82fa7c9-2cb0-4f1a-9275-c5fcb7443e00",
    "mediaKey": "efbbdd58-3566-47ed-a249-dc85cb4a6b81"
  }
]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[Sample doors]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[Sample doors]]></Value>
    </title>
    <topic>
      <Value><![CDATA[]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>