<?xml version="1.0" encoding="utf-8"?>
<Content Key="09903257-2fa5-4cc6-a42f-27cf593479b2" Alias="Sectional doors" Level="3">
  <Info>
    <Parent Key="7435e039-2e5b-46f5-9969-ff1a534925ef">Product Categories</Parent>
    <Path>/DataSources/ProductCategories/SectionalDoors</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2022-06-20T16:48:08</CreateDate>
    <NodeName Default="Sectional doors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>