<?xml version="1.0" encoding="utf-8"?>
<Content Key="40021b09-6496-46a0-8f6b-da873fccc925" Alias="Shed" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/Shed</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:37:52</CreateDate>
    <NodeName Default="Shed" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>