<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8daa3e4-905e-478c-a9bf-4c843b8218c4" Alias="Tenth Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TenthPage</Path>
    <Trashed Parent="92100356-6f61-47c3-bb88-95e81a20de73">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-05-09T10:17:47</CreateDate>
    <NodeName Default="Tenth Page" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc661eba-bed1-45cd-aebe-45d190f8acdf">Page</Template>
  </Info>
  <Properties>
    <beforeBodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </beforeBodyClosingScripts>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <contentType>
      <Value><![CDATA[umb://document/b8d7e3b792434b54b79c1ba285129e20]]></Value>
    </contentType>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <desktopProductImage>
      <Value><![CDATA[[]]]></Value>
    </desktopProductImage>
    <headerScripts>
      <Value><![CDATA[]]></Value>
    </headerScripts>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <includeInMegamenu>
      <Value><![CDATA[1]]></Value>
    </includeInMegamenu>
    <isProductPage>
      <Value><![CDATA[0]]></Value>
    </isProductPage>
    <isVideoPage>
      <Value><![CDATA[1]]></Value>
    </isVideoPage>
    <listingCreatedDate>
      <Value><![CDATA[2022-05-20T12:04:10]]></Value>
    </listingCreatedDate>
    <listingDescription>
      <Value><![CDATA[]]></Value>
    </listingDescription>
    <listingDesktopImage>
      <Value><![CDATA[[
  {
    "key": "89061eb6-4c46-4fce-ba47-f71b01fc2b04",
    "mediaKey": "257f8f4c-d8e7-46b2-88fc-4a1ade921fa0"
  }
]]]></Value>
    </listingDesktopImage>
    <listingMobileImage>
      <Value><![CDATA[[
  {
    "key": "415e270e-ffd5-4633-acb9-8b841595fcbe",
    "mediaKey": "656f22bc-beeb-4f4b-a0b9-2197ab1f1487"
  }
]]]></Value>
    </listingMobileImage>
    <listingSubtitle>
      <Value><![CDATA[Tenth Page]]></Value>
    </listingSubtitle>
    <listingTitle>
      <Value><![CDATA[Tenth Page]]></Value>
    </listingTitle>
    <megamenuImage>
      <Value><![CDATA[[]]]></Value>
    </megamenuImage>
    <megamenuViewAllLink>
      <Value><![CDATA[]]></Value>
    </megamenuViewAllLink>
    <mobileProductImage>
      <Value><![CDATA[[]]]></Value>
    </mobileProductImage>
    <noFollow>
      <Value><![CDATA[1]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageSiteName>
      <Value><![CDATA[]]></Value>
    </pageSiteName>
    <productCategory>
      <Value><![CDATA[]]></Value>
    </productCategory>
    <productFilters>
      <Value><![CDATA[]]></Value>
    </productFilters>
    <productPriority>
      <Value><![CDATA[]]></Value>
    </productPriority>
    <searchContentType>
      <Value><![CDATA[]]></Value>
    </searchContentType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <searchTopics>
      <Value><![CDATA[]]></Value>
    </searchTopics>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <topic>
      <Value><![CDATA[umb://document/5eb6aa83b30f45ab9c9ae347b9d4f5d7,umb://document/cfcad76d442144d185429950d9f53762]]></Value>
    </topic>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <usePageHeading>
      <Value><![CDATA[1]]></Value>
    </usePageHeading>
  </Properties>
</Content>