<?xml version="1.0" encoding="utf-8"?>
<Content Key="f294fcc4-8904-44f3-8cca-8640d114f49e" Alias="Timber &amp; Timber Look" Level="3">
  <Info>
    <Parent Key="def61d78-03b5-429f-974e-b1d2290d9d84">Product Filters</Parent>
    <Path>/DataSources/ProductFilters/TimberTimberLook</Path>
    <Trashed>false</Trashed>
    <ContentType>productFilter</ContentType>
    <CreateDate>2022-06-20T16:38:30</CreateDate>
    <NodeName Default="Timber &amp; Timber Look" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>